# ===== Visual Studio =====
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== .NET =====
bin/
obj/
*.dll
*.exe
*.pdb

# ===== Logs e cache =====
*.log
*.cache

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Seu ignore AL (mantido) =====
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
